
/*///////////////////////////// testimonials override ////////////////////// */
.cd-testimonials-wrapper{
	background-color: oranges}


.cd-testimonials-all {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: red;
  z-index: 2;
  
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s 0s, visibility 0s .3s;
}
 
.cd-testimonials-all.is-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .3s 0s, visibility 0s 0s;
}


/*///////////////////////////// testimonials arrows override ////////////////////// */
.flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
}
 
.flex-direction-nav li:first-child {
  left: 0;
}
 
.flex-direction-nav li:last-child {
  right: 0;
}
 
.flex-direction-nav li a {
  display: block;
  height: 100%;
  width: 100%;
 
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
 
  transition: background-color 0.2s;
}
 
.flex-direction-nav li a::before, .flex-direction-nav li a::after {
  /* left and right arrows in css only */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 13px;
  background-color: white;
}
 
.flex-direction-nav li a::before {
  transform: translateY(-35px) rotate(45deg);
}
 
.flex-direction-nav li a::after {
  transform: translateY(-27px) rotate(-45deg);
}
 
.flex-direction-nav li:last-child a::before {
  transform: translateY(-35px) rotate(-45deg);
}
 
.flex-direction-nav li:last-child a::after {
  transform: translateY(-27px) rotate(45deg);
}



/*///////////////////////////// bootstrap override ////////////////////// */
.navbar-nav > li > a {
	padding: 0px;
	margin-right: 15px;
	margin-top: 15px;
}
.container {
	width: 100% !important;
	padding-right: 0px;
	padding-left: 0px;
}
.navbar-right {
	margin-right: 15px;
}
.navbar-default{
	background-color: #FFF;
}

/* ////////////////////////// end of bootstrap override ///////////////// */
/* ////////////////////////// end of bootstrap override ///////////////// */
.slick-prev{
	left: -35px;
}
.slick-slider{
	background-color: #05a1d1;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.slick-slide
{
	color: black;
    background-color: white;
    margin-right: 5px;
  /*  margin-left: 5px;*/
    padding-bottom: 10px;
    min-height: 200px;
}

div#myNavbar.navbar-collapse.collapse {
	padding-top: 10px;
}




/* ///////////////////////// Login button ///////////////////////////// */
#Login {
  display: block;
  margin-top: 10px;
  padding: 9px;
  font-size: 15px;
  font-family: "Bitter",serif;
  appearance: none;
  box-shadow: none;
  color: #fff;
  text-shadow: -2px 2px #346392;
  background-color: #f6921e;
  background-image: linear-gradient(top, #6496c8, #346392);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 5px;
}

#Login:focus {
  outline: none
}

#Login:hover,
#Login.hover {
  box-shadow: inset 0 0 0 1px #05406f,0 2px 5px #193047;
}

#Login:active,
#Login.active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}
/* ///////////////////////// End of Login button ///////////////////////////// */

#second-page {
	background-image: url("../images/ocean.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
#third-page {
	background-image: url("../images/mountain.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#third-page header{
	text-align: justify;
	font-size: 200%;
	color: black;
	
}
#third-page h2{
	text-align: center;
	font-size: 150%;
	color: black;
}

#third-page #ul-blue{
	text-align: left;
	list-style-image:  url("../images/bullet_blue2.png");
}

#third-page #ul-orange{
	text-align: left;
	list-style-image:  url("../images/bullet_orange2.png");
}

#third-page ul li {
	padding-bottom: 10px;
	text-decoration: none;
	color: black;
}
#fourth-page{
	background-color: #f6921e;
}
#second-page {
	color: black;
}
.toolsIcons {
		width: 100px;
		margin: auto;
	}

/* //////////////////// full page jquery /////////////////////////// */
#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9999;
		color: #f2f2f2;
		padding: 0;
		text-align: center;
	}
	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}
/* //////////////////// end of full page jquery /////////////////////////// */
	.container{
		margin-top: 50px;
	}
	#fifth-page ul {
		list-style: none;
	}

.tools-padding{
	margin-left: 8.333333%;
	margin-right: 8.333333%;
}
#second-page {
	font-family: serif;
}
#fourth-page h3 {
	text-align: center;
}
#fourth-page .tool-text{
	text-align: center;
	margin: 5px;
}
/* ////////////////////////////////////  FAQ page ///////////////////////////// */
.faqItem {
	cursor: pointer; 
}
.faqDiv {
	display: none;
	margin-bottom: 15px;
	background-color: #6666ff;
	border-radius: 3px;
}
/*.young h2{
	font-family: serif;
	margin-top: 45px;
	font-size: 1.5em;
	color: #05a1c1;
}
.clinitian h2{
	font-family: serif;
	margin-top: 45px;
	font-size: 1.5em;
	color: #05a1c1;*/
}
.faqList {
	list-style: none;
}


.faqItem {
	font-family: serif;
}
/* ////////////////////////// menue hover text //////////////////////// */
.Zebra_Tooltip .Zebra_Tooltip_Message {
    font-size: 12px;
    padding: 7px;
}

