
/*///////////////////////////// bootstrap override ////////////////////// */
.navbar-nav > li > a {
	padding: 0px;
	margin-right: 15px;
	margin-top: 25px;
}
.container {
	width: 100% !important;
	padding-right: 0px;
	padding-left: 0px;
}
.navbar-right {
	margin-right: 15px;
}

/* ////////////////////////// end of bootstrap override ///////////////// */


/* ///////////////////////// Login button ///////////////////////////// */
#Login {
  display: block;
  margin-top: 10px;
  padding: 9px;
  font-size: 15px;
  font-family: "Bitter",serif;
  appearance: none;
  box-shadow: none;
  color: #fff;
  text-shadow: -2px 2px #346392;
  background-color: #f6921e;
  background-image: linear-gradient(top, #6496c8, #346392);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 5px;
}
h3 {
	color: red;
}
.testing-img{
	padding-bottom: 50px;
}
#Login:focus {
  outline: none
}

#Login:hover,
#Login.hover {
  box-shadow: inset 0 0 0 1px #05406f,0 2px 5px #193047;
}

#Login:active,
#Login.active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}
/* ///////////////////////// End of Login button ///////////////////////////// */

#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9999;
		color: #f2f2f2;
		padding: 0;
		text-align: center;
	}
	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}

